table {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
    margin-top: 40px;
}


table tr:hover {
    background-color: bisque;
}

table th {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}

.btn-actions {
    margin-right: auto;
    margin-left: auto;
}

.btn-outtable {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}

mat-paginator {
    margin-left: 15%;
    margin-right: 15%;
}